<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconName</key>
		<string>facebook</string>
		<key>url</key>
		<string>https://www.apple.com/</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>reddit</string>
		<key>url</key>
		<string>https://www.banana.com/</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>facebook</string>
		<key>url</key>
		<string>https://www.cherry.com/</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>reddit</string>
		<key>url</key>
		<string>https://www.date.com/</string>
	</dict>
</array>
</plist>
